extends ../layouts/layout-default

block home
    .row.homebg
        .row.pull-right(style="margin-top:10px;margin-right: 140px;")
            img(src="/images/app/home_lg_arrow.png")
        .row

  